*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f3f5f7;
    display:flex;
    justify-content:center;
    padding:40px;
}
.container{
    width:900px;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 15px rgba(0,0,0,.15);
}

h1{
    text-align:center;
    margin-bottom:25px;
    color:#333;
}
.card{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

.card input{
    flex:1;
}

input{
    padding:12px;
    border:1px solid #ccc;
    border-radius:6px;
    outline:none;
}

input:focus{
    border-color:#0d6efd;
}
.buttons{
    display:flex;
    gap:10px;
}

button{
    padding:12px 18px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    color:white;
    background:#0d6efd;
    transition:.2s;
}

button:hover{
    background:#0b5ed7;
}
table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

th{
    background:#0d6efd;
    color:white;
}

th,td{
    border:1px solid #ddd;
    padding:12px;
    text-align:center;
}

tr:nth-child(even){
    background:#f7f7f7;
}
.sil{
    background:#dc3545;
}

.sil:hover{
    background:#bb2d3b;
}

.duzenle{
    background:#198754;
    margin-right:5px;
}

.duzenle:hover{
    background:#157347;
}

#sayac{
    margin-top:15px;
    font-weight:bold;
}

#bosMesaj{
    text-align:center;
    margin-top:20px;
    color:#777;
    display:none;
}